$primaryLight: 'white';
$secondaryLight: 'rgb(82,138,183)';
$primaryDark: 'rgb(45,51,90)';
$secondaryDark: 'black';

// Formik Contact Form Input
.contactInputField {
    display: block;
    width: 80%;
    margin: 0 10%;
    height: 3vh;
    border: 3px solid $secondaryLight;
    font-size: 1.2rem;

    @media screen and (min-width: 768px) {
        width: 90%;
        margin: 0 5%;
    }

    @media screen and (min-width: 1200px) {
        width: 70%;
        margin: 0 15%;
    }

    @media screen and (min-width: 1920px) {
        width: 100%;
        margin: 0 0;
    }
}

.contactTextAreaField {
    height: 8vh;
}