$primaryLight: white;
$secondaryLight: rgb(82,138,183);
$primaryDark: rgb(45,51,90);
$secondaryDark: black;
$primaryAlert: rgb(226, 106, 106);
$secondaryAlert: rgb(246, 71, 71);

// Formik Contact Form Input
.contactInputField {
    display: block;
    width: 80%;
    margin: 0 10%;
    height: 3vh;
    font-size: 1.2rem;

    @media screen and (min-width: 768px) {
        width: 90%;
        margin: 0 5%;
    }

}

.contactTextAreaField {
    height: 8vh;
}

// Formik Form Error Message
.contactErrorMessage {
    color: $secondaryAlert;
}